
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:"Poppins", sans-serif;
    --color1: #fff;
    --color2: #181818;
    overflow-x: hidden;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: black;
    padding: 12px 20px;
}

.logo img {width: 40px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {width: 100%;}

.open-menu, .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top:20px;
    right: 20px;
}

#check {
    display: none;
}



.home-banner {
    display: flex;
    height: 50vh;
    width: 100%;
    background-image: url(/assets/images/sauna-banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    align-items: center;
    margin-bottom: 100px;
}


.banner-text {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px grey;
}




/* Styles for mobile screens */

@media screen and (max-width: 610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 2;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu, .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}

    .banner-overlay {
        display: flex;
        background-color: black;
        width: 80%;
        height: 12vh;
        margin-left: 1%;
        position: absolute;
        bottom: 40%;
        padding: 20px;
    }
    
    .banner-overlay h1 {
        color: white;
        align-self: center;
        font-size: 2rem;
    }

    .sauna-preview-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .sauna-preview-section div {
        width: 80vw;
        height: 50vh;
    }

    .sauna-preview-section img {
        max-width: 100%;
        height: auto;
    }

}



/* Styles for tablets and small desktops */

@media only screen and (min-width: 611px) and (max-width: 1024px) {
    
  }








/* Screens for larger screens (Desktop and landscape tablets */

  @media only screen and (min-width: 1025px) {
    
  }



.benefits-section {
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}

.benefits-section div {
    margin-bottom: 40px;
    padding-bottom: 0;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.benefits-section h2 {
    margin: 0 0 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.benefits-section p {
    margin: 0;
    line-height: 1.5;
}

.benefits-section div:hover {
    background-color: #00000034;
}